# Matematica Financeira com Python

## Parte 1

http://prorum.com/?qa=4563/matematica-financeira-com-python

https://medium.com/@alegeorgelustosa/introdu%C3%A7%C3%A3o-ao-mercado-financeiro-com-python-3383ebecddf7

Usaremos aqui a estrutura de dataframes por meio do módulo pandas, além de alguns outros módulos em situações específicas.
Em Python, dataframes são uma forma de organizar informações. São semelhantes a tabelas e podemos utilizar o módulo pandas para lidar com eles. Contudo, na maioria dos casos, os utilizaremos apenas para organizar as informações obtidas após a realização dos cálculos, uma vez que realizar cálculos dentro de uma estrutura de dataframes torna a execução do programa bastante lenta.
Dataframes em panda são tabelas com linhas e colunas. Podemos criar um dataframe importando de bases de dados SQL, CVS e Excel. Também podemos criar dataframes a partir de listas, dicionários, listas de dicionários etc.

### Importando Bibliotecas

In [1]:
import pandas as pd

Vamos criar uma dataframe usando listas:

In [2]:
lst = ["salário", "horas", "idade"] #Criando uma lista.

df1 = pd.DataFrame(lst) #Cria o dataframe a partir da lista

print(df1)

#Vamos agora criar um dataframe a partir de um dicionário:

data2 = {"Nome": ["José", "Maria", "João", "Ana"], 
        "Idade": [23, 24, 54, 14]}
df2 = pd.DataFrame(data2)
print(df2)

         0
0  salário
1    horas
2    idade
    Nome  Idade
0   José     23
1  Maria     24
2   João     54
3    Ana     14

Podemos fazer operações matemáticas nas linhas e colunas de uma tabela. Para isso, vamos criar uma tabela. Uma maneira de fazer isso é definindo uma lista de listas e criar uma tabela vazia, dizendo ao panda para preenchê-la com os elementos da lista:

In [3]:
lst = [[1,2,3,4], 
       [5,6,7,8], 
       [9,10,11,12], 
       [13,14,15,16], 
       [17,18,19,20]]

df = pd.DataFrame(lst, index = ["1", "2", "3", "4", "5"], 
                  columns = ["A", "B", "C", "D"])
#Acima estamos criando uma tabela 5x4 vazia e dizendo para preencher com os 
#elementos da lista.
print(df)

#Multiplicação de uma tabela por outra:É feita célula por célula:  
dfsqr = df*df
print(dfsqr)

#Multiplicação de uma tabela por um escalar: Ocorre da maneira intuitiva:
dezdf = df*10
print(dezdf)

#Soma de tabelas: Ocorre da maneira intuitiva:
df2 = df+df
print(df2)

#Soma por escalar: Soma o escalar a cada célula:
dfmais = df+10
print(dfmais)

    A   B   C   D
1   1   2   3   4
2   5   6   7   8
3   9  10  11  12
4  13  14  15  16
5  17  18  19  20
     A    B    C    D
1    1    4    9   16
2   25   36   49   64
3   81  100  121  144
4  169  196  225  256
5  289  324  361  400
     A    B    C    D
1   10   20   30   40
2   50   60   70   80
3   90  100  110  120
4  130  140  150  160
5  170  180  190  200
    A   B   C   D
1   2   4   6   8
2  10  12  14  16
3  18  20  22  24
4  26  28  30  32
5  34  36  38  40
    A   B   C   D
1  11  12  13  14
2  15  16  17  18
3  19  20  21  22
4  23  24  25  26
5  27  28  29  30

Caso desejemos selecionar uma coluna em específico

In [4]:
data = {"Nome": ["José", "Maria", "João", "Ana"], 
        "Idade": [23, 24, 54, 45],
        "Endereço": ["Rua 1", "Rua 2", "Rua 3", "Rua 4"],
         "Renda": [123, 2345, 235, 568453]}
df = pd.DataFrame(data)

print(df) #Imprime a tabela toda

print("############")

#Selecionando uma coluna desejada:
print(df[["Nome", "Renda"]]) #Imprime apenas as colunas indicadas.

#ou:
colnome = df[['Nome']]
print(colnome)

#Adicionar uma nova coluna:
educ = [12, 8, 13, 22] #Definico a coluna a ser adicionada

df["educ"] = educ #Incorporando a coluna

print(df) 

#Deletando uma coluna:
df1 = df.drop(columns = ['Idade']) #Deleta as colunas selecionadas. 

print(df1)

    Nome  Idade Endereço   Renda
0   José     23    Rua 1     123
1  Maria     24    Rua 2    2345
2   João     54    Rua 3     235
3    Ana     45    Rua 4  568453
############
    Nome   Renda
0   José     123
1  Maria    2345
2   João     235
3    Ana  568453
    Nome
0   José
1  Maria
2   João
3    Ana
    Nome  Idade Endereço   Renda  educ
0   José     23    Rua 1     123    12
1  Maria     24    Rua 2    2345     8
2   João     54    Rua 3     235    13
3    Ana     45    Rua 4  568453    22
    Nome Endereço   Renda  educ
0   José    Rua 1     123    12
1  Maria    Rua 2    2345     8
2   João    Rua 3     235    13
3    Ana    Rua 4  568453    22