## Classificando empresas segundo a Magic Formula

Importando Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import string
import warnings

In [2]:
warnings.filterwarnings('ignore')

Fazendo um webscraping e baixar os dados dos balanços das empresas disponíveis no site https://www.fundamentus.com.br/resultado.php

In [3]:
url = 'https://www.fundamentus.com.br/resultado.php'
df = pd.read_html(url, decimal=',', thousands='.')[0]

Previa dos dados

In [4]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,IVTT3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-0,40%",0.00,1.083050e+09,0.00,"20,67%"
1,MNSA3,0.42,0.00,0.00,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"-208,15%","-362,66%",3.63,"-13,50%","145,70%",0.00,-9.105000e+06,-6.52,"-41,11%"
2,POPR4,10.17,0.00,0.00,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"8,66%","5,65%",1.08,"15,25%","19,93%",0.00,5.458030e+08,0.82,"30,93%"
3,PMET3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","4,10%",0.00,-2.908630e+08,0.00,"37,74%"
4,CFLU4,1000.00,0.00,0.00,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"8,88%","10,72%",1.10,"17,68%","32,15%",0.00,6.035100e+07,0.06,"8,14%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%"
882,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.0,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%"
883,CEPE6,19.30,7941.74,883.96,236.630,"7,05%",181.341,734325.0,2073.54,-334.28,...,1502.91,"11,41%","2,98%",1.00,"9,88%","11,13%",537.14,1.629050e+06,2.86,"-72,98%"
884,CEPE3,24.53,10093.80,1123.50,300.754,"0,00%",230.482,933316.0,2635.44,-424.86,...,1908.93,"11,41%","2,98%",1.00,"9,88%","11,13%",0.00,1.629050e+06,2.86,"-72,98%"
885,CEPE5,25.11,10332.50,1150.06,307.865,"4,92%",235.931,955384.0,2697.75,-434.91,...,1953.96,"11,41%","2,98%",1.00,"9,88%","11,13%",1027.76,1.629050e+06,2.86,"-72,98%"

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.columns

Index(['Papel', 'Cotação', 'P/L', 'P/VP', 'PSR', 'Div.Yield', 'P/Ativo',
       'P/Cap.Giro', 'P/EBIT', 'P/Ativ Circ.Liq', 'EV/EBIT', 'EV/EBITDA',
       'Mrg Ebit', 'Mrg. Líq.', 'Liq. Corr.', 'ROIC', 'ROE', 'Liq.2meses',
       'Patrim. Líq', 'Dív.Brut/ Patrim.', 'Cresc. Rec.5a'],
      dtype='object')

Modificando os dados das colunas que estao em percentual

In [7]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

In [8]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,IVTT3,0.00,0.00,0.00,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,-0.0040,0.00,1.083050e+09,0.00,0.2067
1,MNSA3,0.42,0.00,0.00,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,-2.0815,-3.6266,3.63,-0.1350,1.4570,0.00,-9.105000e+06,-6.52,-0.4111
2,POPR4,10.17,0.00,0.00,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,0.0866,0.0565,1.08,0.1525,0.1993,0.00,5.458030e+08,0.82,0.3093
3,PMET3,0.00,0.00,0.00,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0410,0.00,-2.908630e+08,0.00,0.3774
4,CFLU4,1000.00,0.00,0.00,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,0.0888,0.1072,1.10,0.1768,0.3215,0.00,6.035100e+07,0.06,0.0814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,UBBR11,14.75,1201.81,3.91,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0033,0.00,1.031720e+10,0.00,0.1058
882,UBBR3,18.00,1466.61,4.77,0.000,0.0000,0.000,0.0,0.00,0.00,...,0.00,0.0000,0.0000,0.00,0.0000,0.0033,0.00,1.031720e+10,0.00,0.1058
883,CEPE6,19.30,7941.74,883.96,236.630,0.0705,181.341,734325.0,2073.54,-334.28,...,1502.91,0.1141,0.0298,1.00,0.0988,0.1113,537.14,1.629050e+06,2.86,-0.7298
884,CEPE3,24.53,10093.80,1123.50,300.754,0.0000,230.482,933316.0,2635.44,-424.86,...,1908.93,0.1141,0.0298,1.00,0.0988,0.1113,0.00,1.629050e+06,2.86,-0.7298
885,CEPE5,25.11,10332.50,1150.06,307.865,0.0492,235.931,955384.0,2697.75,-434.91,...,1953.96,0.1141,0.0298,1.00,0.0988,0.1113,1027.76,1.629050e+06,2.86,-0.7298

In [9]:
df.shape

(886, 21)

Analisando dados

Calculando a media diaria dos ultimos dois meses apenas das empresas grandes

In [10]:
df = df[df['Liq.2meses'] > 1000000]

In [11]:
df.shape

(207, 21)

Ranking das empresas de acordo com a Magic Formula de Joel Greenblatt

Ev/Ebit ("barata") | ROIC ("boa")

In [12]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [13]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  WIZS3
1      2   SMLS3  PSSA3
2      3   ENAT3  TOTS3
3      4   WIZS3  SMLS3
4      5   CVCB3  ODPV3
..   ...     ...    ...
145  146   ANIM3  ALSO3
146  147   ROMI3  DTEX3
147  148   MEAL3  MDNE3
148  149   HAPV3  BSEV3
149  150   PNVL3  PRNR3

[150 rows x 3 columns]

Criando dataframe auxiliar avaliando ambos os parametros

In [16]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')
b = ranking.pivot_table(columns='ROIC', values='pos')

In [17]:
t = pd.concat([a,b])

In [18]:
t

,AALR3,ABEV3,AGRO3,ALPA4,ALSO3,ALUP11,AMAR3,ANIM3,ARZZ3,B3SA3,...,YDUQ3,EZTC3,GPIV33,HYPE3,LWSA3,MGLU3,PRNR3,RADL3,SULA11,WEGE3
pos,99.0,89.0,96.0,144.0,101.0,13.0,7.0,146.0,131.0,141.0,...,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,133.0,11.0,94.0,23.0,146.0,27.0,30.0,134.0,22.0,70.0,...,16.0,140.0,9.0,138.0,82.0,78.0,150.0,83.0,103.0,15.0

Ranking com ambos os parametros

In [19]:
rank = t.dropna(axis=1).sum()

In [20]:
rank

AALR3     232.0
ABEV3     100.0
AGRO3     190.0
ALPA4     167.0
ALSO3     247.0
          ...
VULC3      82.0
VVAR3     230.0
WIZS3       5.0
WSON33     68.0
YDUQ3      71.0
Length: 140, dtype: float64

As top 15

In [21]:
rank.sort_values()[:15]

PSSA3      3.0
WIZS3      5.0
SMLS3      6.0
VALE3     19.0
SAPR4     29.0
SAPR11    29.0
SAPR3     29.0
AMAR3     37.0
TEND3     38.0
LEVE3     39.0
GOLL4     39.0
TGMA3     39.0
ALUP11    40.0
MRFG3     41.0
RAPT4     42.0
dtype: float64